.header{
     width:100vw;
     padding:30px 50px;
     background:#E6F8FF;

}
.headerWrap{
     display:flex;
     justify-content: space-around;
}
.logo{
     display:flex;
}
.logoImg{
     width:130px;

}
.logo h4{
     font-size:20px;
     font-weight: 400px;
    
}
.searchBox input{
     width:500px;
     padding:10px 20px;
     background:#E9F6E9;
     border-radius:10px;
     border:1px solid #4AB449;
     
}
.inputBox button{
     background:#4AB449;
     color:white;
     padding:10px 10px;
     width:100px;
     border-radius:5px;
}

@media only screen and (max-width:1024px){
     
     .searchBox input{
        width:450px
     }
     
}

@media only screen and (max-width:768px){
     
     .inputBox button, .searchBox input{
         display:none;
     }
     
}
@media only screen and (max-width:500px){
     .header{
         width:100%;
     
     }
}