
.navbarMain {
  width: 100%;
}

.navbarBanner {
  width: 100%;
  height: 45px;
  background: #e9f6e9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activeMenuList{
  display: flex;
  z-index: 999 IM !important;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
 }
 .menuList{
  display: flex;
  z-index: 999 IM !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #19ABE3;
  padding: 15px 20px;
  border-radius: 10px;
 }


 
.navbarBanner h2 {
  font-family: PoppinsRegular;
  font-size: 16px;
  margin-left: 10px;
}
.navbarBanner p {
  font-family: PoppinsRegular;
  font-size: 16px;
  margin-left: 46px;
}
.navigationMain {
  width: 100%;
  height: 90px;
  padding-top: 25px;
  margin-bottom: 10px;
}
.logo {
  height: 60px;
  width: 180px;
  object-fit: cover;
}
.navigationContent {
  display: flex;
  display: flex;
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.navigationLeft {
  display: flex;
  height: 100%;
  align-items: center;
  width: 30%;
}
.navigationLeft p {
  font-family: PoppinsRegular;
  font-size: 18px;
  margin-left: 46px;
}
.inputDiv {
  height: 43px;
  background: #e9f6e9;
  border: 1px solid #4ab449;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 40%;
}
.inputDiv input {
  height: 43px;
  width: 80%;
  border: none;
  padding-left: 20px;
  background: transparent;
}
.inputDiv input:focus {
  outline: none;
}
.inputDiv input::placeholder {
  color: black !important;
}

.inputIcon {
  width: 20%;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputButtons {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logInButton {
  font-size: 14px;
  color: white;
  font-family: PoppinsRegular;
  width: 102px;
  height: 46px;
  background: #4ab449;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signUpButtonTwo {
  font-size: 14px;
  color: white;
  font-family: PoppinsRegular;
  width: 102px;
  height: 46px;
  background: #19abe3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigationMain {
  display: block;
}
.navigationMOb {
  display: none;
}
.activeNavMob {
  display: none;
}
@media (max-width: 1366px) {
  /* Add your CSS styles for small laptops here */
  .navigationMain {
    display: block;
  }
  .navigationMOb {
    display: none;
  }
  .activeNavMob {
    display: none;
  }
}

/* Styles for tablets */
@media (max-width: 1024px) {
  .navigationMOb {
    display: none;
  }
  .activeNavMob {
    display: none;
  }
  .navigationMain {
    display: block;
  }
  .navigationLeft p {
    font-family: PoppinsRegular;
    font-size: 18px;
    margin-left: 4px;
  }
  .inputDiv {
    height: 43px;
    background: #e9f6e9;
    border: 1px solid #4ab449;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    width: 36%;
  }
  .navigationContent {
   width:100%;
  }
  .inputButtons {
    width: 22%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }
  .navigationLeft {
    display: flex;
    height: 100%;
    align-items: center;
    width: 35%;
  }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
  .navigationMain {
    display: none;
  }
  .mobLogo {
    height: 65px;
    width: 129px;
  }
  .navigationMOb {
    display: flex;
    height: 69px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
  }
  .takeOf {
    color: #26ade2;
    cursor: pointer;
  }
  .landOf {
    color: white;
  }
  .activeNavMob {
    width: 100%;
    height: 100vh;
    background: #26ade2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .iconsMobNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px;
    height: 100px;
  }
  .inputDivMOb {
    width: 80%;
    height: 43px;
    background: #e9f6e9;
    border: 1px solid #4ab449;
    border-radius: 10px;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
  }
  .inputDivMOb input {
    height: 43px;
    width: 80%;
    border: none;
    padding-left: 20px;
    background: transparent;
  }
  .inputDivMOb input:focus {
    outline: none;
  }
  .inputButtons {
    width: 70%;
    height: 176px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }
  .signUpButtonTwo {
    background-color: white;
    color: black !important;
  }
}


.searchResult{
  width: 250px;
  z-index: 999999 !important;
  position: absolute;
  box-sizing: border-box;
  height:300px;
  overflow-x: hidden;
  color:black;
  margin-top:10px;
}
.searchResult div{
  width: 100%;
  padding: 10px 2px;
  cursor:pointer;
  transition:all .3s ease-in-out;
  background:#4ab449;
  color:white;
}
.searchResult div:hover{
  background:#19ABE3;
  color:white;
}
.searchTop input{
  width:100%;
  height:100%;
  background:transparent;
}

.airport{
  display:flex;
  flex-wrap: wrap;
  align-items:center;

}
.airport p{
  font-size:12px;
}







.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url(/_next/static/media/banner.f7be9e77.png);
  /* background-image:url(../../public/assets/banner.png) */
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height:auto;
  box-sizing: border-box;
  background-position: center;
  margin-bottom: 124px;
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
  padding-top: 26px;
}
.heroBoxMain {
  width: 1105px;
  height: auto;
  background-image: linear-gradient( 168deg,#19abe3, #4AB449) !important;
  z-index: 9999 !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  position: relative;
  top: 34px;
}
.departDate{
  background: transparent;
  height: 70px;
  width: 370px;
  font-size: 14px;
  margin-right: 10px;
  color: white;
  border-radius: 3px;
  border: 1px solid #fff;
  padding: 8px !important;
}

.multiplePackageWrap{
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom:10px;

}
.multiplePackage{
  width: 210px;
  height: 70px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  margin-right: 0px;
  font-size: 14px;
  margin-bottom: 8px;
  margin-right: 8px;
  border-radius: 3px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right:10px;
}

.passengerWrap{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-top:20px;
}
.multiplePackage input{
  width: 100%;
  background: transparent;
}
.pLeftSide{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.adultsBtn{
  display: flex;
  align-items:center;
}

.adultsBtn span{
  width: 40px;
  height: 40px;
  border: 1px solid #4ab449;
  font-size: 20px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#fff;
  cursor:pointer;
}
.dateOfChild{
  margin-top: 20px;
  width: 170px;
  height: 19px;
  margin-bottom: 20px !important;
}
.classType select{
 width:100%;
 border:1px solid #ddd;
 padding:10px;
font-size:14px;
}
.addCity{
  display: flex;
  align-items: center;
  background: #4AB449;
  color: white;
  width: 103px;
  padding: 5px;
  height: 43px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
  border:1px solid #fff;
}

.removeCity{
  display: flex;
  align-items: center;
  background: #4AB449;
  color: white;
  width: 117px;
  padding: 5px;
  height: 43px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 13px !important;
  border:1px solid #fff;
}
.oneWayPackage, .roundTripWrap, .groupFlight{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}



.package,
.package2,
.package3,
.package4 {
  width: 370px;
  height: 70px;
  background: transparent;
  border-radius: 3px;
  color: white;
  font-size: 14px !important;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #fff;
}

.package input{
  background:transparent;
  width:100%;
}
.flightGroup {
  width: 450px;
  height: 50px;
  background: white;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #4ab449;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
}
.flightGroup span {
  font-size: 14px;
}
.flightGroup span:nth-child(1) {
  border-bottom: 2px solid #4ab449;
  margin-bottom: 19px;
}

.date {
  border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border: 1px px solid #fff;
    width: 185px;
    font-size: 14px;
    border: 1px solid #fff;
    color: white;
    padding: 12px;
    border-left: 1px solid #fff !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    border-right: none !important;
    height:70px;
}
.date2 {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #4ab449;
  height: 70px;
  width: 185px;
  color: #fff;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 1px solid #fff !important;
  border: right;
  border-right: 1px solid #fff !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
}
.package {
  top: 170px;
  left: 125px;
}
.showModalIcon{
  margin-right: 2px;
  cursor: pointer;
  margin-top: 19px;
  font-size: 25px !important;
}

.package2 {
  right: 131px;
  top: 170px;
}
.package2 input, .package3 input, .package4 input, .packageDate input{
  width:100%;
  background:transparent;
}
.package3 {
  top: 248px;
  left: 125px;
}
.package4 {
  top: 248px;
  right: 131px;
}
.package,
.package2 h4 {
  font-size: 14px;
}
.package4 h4{
  font-size:14px;
}
.packageBtn {
  border-bottom: 2px solid #4ab449;
}
.packageDate {
  display: flex;
  justify-content: space-between;
}
.btnWrap{
  text-align: center;
  padding-bottom: 35px;
  width: 100%;
}
.heroBoxBtn {
  top: 346px;
  background-image: linear-gradient(90deg, #4ab449, #19ABE3);
  color: white;
  border-radius: 5px;
  padding: 12px 0px;
  width: 225px;
  text-align: center;
  border: 1px solid #fff;
  font-size: 15px;
  transition:al .5s ease-in-out;
}
.heroBoxBtn:hover {
  background-image: linear-gradient(90deg,  #19ABE3, #4ab449);
}
.flightWay{
  width:100%;
  margin:0 auto;
}
/* menu styling  */
.wrapMenu{
  z-index: 999 !important;
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #4AB449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  z-index: 99;
  font-size:16px;
  position:relative;
   
 }
 .menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}

 .activeMenu{
  border-right:none;
  background:#19ABE3 !important;
 }

.firstChild{
  border-top-left-radius: 17px !important;
    padding-left: 25px;
}
 .lastChild{
  border-right:1px solid #fff !important;
  border-top-right-radius: 17px !important;
 }

.menu li P {
  z-index: 999 !important;
}
.activeLink{
  background:#19ABE3 !important;
}

.modalCloseBtn{
  background: transparent;
  position: absolute;
  color: #42A242 !important;
  right: 22px;
  top: 2px;
  font-size: 20px !important;
}


@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 98%;
  }
  


  
}

@media only screen and (max-width: 768px) {

  .bannerWrap h2 {
    font-size: 25px;
  }
  .wrapMenu{
    flex-wrap: wrap;
    justify-content: center;
}
  .menu {
    background: none;
    flex-wrap: wrap;
    margin-bottom: 44px;
    padding-top: 40px;
  }
  .menu li {
    height: 82%;
    width: 100%;
    border:none;
}
.lastChild {
  border-right:none !important;
}
 







  .heroBoxBtn {
    top: 445px;
  }
  .heroBoxMain {
    background: none;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }
  .departDate, .package4 {
    width: 300px;
}


  

  .flightGroup {
    width: 440px;
    top: 195px;
  }
  .bannerWrap h2 {
    width: 513px;
    margin: 0px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {

  .heroBoxBtn {
    top: 619px;
    padding: 14px 25px;
    width: 190px;
  }

.wrapMenu {
    justify-content: space-between !important;
    padding: 0px 30px;
}
.firstChild{
  border-top-left-radius: 0px !important;
  padding-left: 0px;

}
.lastChild{
  margin-left: 113px;

}

.date{
  border-right:1px solid #fff !important;
}
  
  .oneWayPackage, .roundTripWrap, .groupFlight {
    display: block;
}
  
.package input, .package3 input, .package2 input, .package4 input, .packageDate input{
  width: 170px;

}
.package, .package2, .package3, .package4 {
  width: 90%;
  margin: 0 auto;
}

.package input, .package3 input, .package2 input, .package4 input, .packageDate input {
  width: 98%;
}
.departDate, .package4 {
  width: 90%;
  margin: 0 auto;
}
.oneWayPackage, .roundTripWrap, .groupFlight {
  margin-bottom:0px;
}
.departDate, .package4 {
  margin: 5px auto;
}
.package, .package2, .package3, .package4 {
  width: 90%;
  margin: 5px auto;
}

  .bestPlaceHead {
    width: 100%;
    margin-top: 387px;
  }
  .bannerWrap h2 {
    width: 100%;
    padding-top: 40px;
  }
  .flightGroup {
    width: 355px;
    top: 233px;
  }
  .date, .date2 {
    width: 90%;
    margin: 0 auto;
}
.date2{
  margin-top:6px;
}

.multiplePackageWrap{
  display: block;
}
.multiplePackage {
  width: 95%;
  margin: 8px auto;
}



}

@media only screen and (max-width: 400px) {
  .wrapMenu {
    padding: 0px 6px;
}


  .heroBoxBtn {
    padding: 11px 30px;
    font-size: 16px;
  }
  .flightGroup span {
    font-size: 12px;
  }
}
