
.searchResult{
  width: 250px;
  z-index: 999999 !important;
  position: absolute;
  box-sizing: border-box;
  height:300px;
  overflow-x: hidden;
  color:black;
  margin-top:10px;
}
.searchResult div{
  width: 100%;
  padding: 10px 2px;
  cursor:pointer;
  transition:all .3s ease-in-out;
  background:#4ab449;
  color:white;
}
.searchResult div:hover{
  background:#19ABE3;
  color:white;
}
.searchTop input{
  width:100%;
  height:100%;
  background:transparent;
}

.airport{
  display:flex;
  flex-wrap: wrap;
  align-items:center;

}
.airport p{
  font-size:12px;
}







.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url(/_next/static/media/banner.f7be9e77.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height:auto;
  box-sizing: border-box;
  background-position: center;
  margin-bottom: 124px;
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
  padding-top: 26px;
}
.heroBoxMain {
  width: 1105px;
  height: auto;
  background: #c6e8f1 0.6;
  z-index: 9999 !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  position: relative;
  top: 34px;
}
.departDate{
  background: #19ABE3;
  padding: 8px;
  height: 65px;
  width: 415px;
  font-size: 14px;
  margin-right: 5px;
  color: white;
  border-radius: 5px;
}

.multiplePackageWrap{
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-bottom:10px;

}
.multiplePackage{
  width: 210px;
  height: 74px;
  border: 1px solid rgba(156, 148, 148, 0.664);
  background: #19ABE3;
  color: #fff;
  margin-right: 0px;
  padding: 8px;
  font-size: 14px;

}
.passengerWrap{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-top:20px;
}
.multiplePackage input{
  width: 100%;
  background: transparent;
}
.pLeftSide{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.adultsBtn{
  display: flex;
  align-items:center;
}

.adultsBtn span{
  width: 40px;
  height: 40px;
  border: 1px solid #4ab449;
  font-size: 20px;
  margin-right: 10px;
  line-height: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background:#fff;
  cursor:pointer;
}
.dateOfChild{
  margin-top: 20px;
  width: 170px;
  height: 19px;
  margin-bottom: 20px !important;
}
.classType select{
 width:100%;
 border:1px solid #ddd;
 padding:10px;
font-size:14px;
}
.addCity{
  display: flex;
  align-items: center;
  background: #4AB449;
  color: white;
  width: 103px;
  padding: 5px;
  height: 43px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14px;
}

.removeCity{
  display: flex;
  align-items: center;
  background: #19abe3;
  color: white;
  width: 117px;
  padding: 5px;
  height: 43px;
  border-radius: 12px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 13px !important;
}
.oneWayPackage, .roundTripWrap, .groupFlight{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}



.package,
.package2,
.package3,
.package4 {
  width: 415px;
  height: 65px;
  background: #19ABE3;
  border-radius: 5px;
  color: white;
  font-size: 14px !important;
  padding: 8px;
  margin-right: 5px;
}

.package input{
  background:transparent;
  width:100%;
}
.flightGroup {
  width: 450px;
  height: 50px;
  background: white;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #4ab449;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
}
.flightGroup span {
  font-size: 14px;
}
.flightGroup span:nth-child(1) {
  border-bottom: 2px solid #4ab449;
  margin-bottom: 19px;
}

.date {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border: 1px solid #4ab449;
  background: #19ABE3;
  height: 65px;
  width: 207.5px;
  font-size: 14px;
  padding: 8px;
  color: white;
}
.date2 {
  background: #19ABE3;
  border-bottom-right-radius: 7px;
  border-top-right-radius: 7px;
  border: 1px solid #4ab449;
  height: 65px;
  width: 207.5px;
  color: #fff;
  padding: 8px;
  margin-right: 5px;
  font-size: 14px
}
.package {
  top: 170px;
  left: 125px;
}
.showModalIcon{
  margin-right: 22px;
  cursor: pointer;
  margin-top: 19px;
}

.package2 {
  right: 131px;
  top: 170px;
}
.package2 input, .package3 input, .package4 input, .packageDate input{
  width:100%;
  background:transparent;
}
.package3 {
  top: 248px;
  left: 125px;
}
.package4 {
  top: 248px;
  right: 131px;
}
.package,
.package2 h4 {
  font-size: 14px;
}
.package4 h4{
  font-size:12px;
}
.packageBtn {
  border-bottom: 2px solid #4ab449;
}
.packageDate {
  display: flex;
  justify-content: space-between;
}
.btnWrap{
  text-align: center;
  padding-bottom: 30px;
}
.heroBoxBtn {
  top: 370px;
  background: #19abe3;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 16px 0px;
  width: 225px;
  text-align: center;
  margin-top: 10px;
}
.flightWay{
  width:100%;
  margin:0 auto;
}
/* menu styling  */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 23px 20px;
  font-size: 18px;
  background: #4AB449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}
.menu li {
  display: flex;
  z-index: 999 IM !important;
}
.menu li P {
  z-index: 999 !important;
}

@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 98%;
  }
  


  
}

@media only screen and (max-width: 768px) {

  .bannerWrap h2 {
    font-size: 25px;
  }
  .menu {
    background: none;
    flex-wrap: wrap;
  }
  .menu li {
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    z-index: 999 !important;
    color: black;
  }
 

  .heroBoxBtn {
    top: 445px;
  }
  .heroBoxMain {
    background: none;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }
  .departDate, .package4 {
    width: 300px;
}


  

  .flightGroup {
    width: 440px;
    top: 195px;
  }
  .bannerWrap h2 {
    width: 513px;
    margin: 0px auto;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {

  .heroBoxBtn {
    top: 619px;
    padding: 14px 25px;
    width: 190px;
  }

  .menu {
    padding: 10px 0px;
  }
  .menu li:nth-child(6) {
    padding-right: 0px;
    margin-left: 39px;
  }
  .menu li:nth-child(7) {
    padding-right: 0px;
    margin-left: 150px;
  }
  .menu li:nth-child(1) {
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 39px;
  }
  .oneWayPackage, .roundTripWrap, .groupFlight {
    display: block;
}
  
.package input, .package3 input, .package2 input, .package4 input, .packageDate input{
  width: 170px;

}
.package, .package2, .package3, .package4 {
  width: 90%;
  margin: 0 auto;
}
.package, .package2, .package3, .package4 {
  height: 54px;
}

.package input, .package3 input, .package2 input, .package4 input, .packageDate input {
  width: 98%;
}
.departDate, .package4 {
  width: 90%;
  margin: 0 auto;
  height: 55px;
}
.oneWayPackage, .roundTripWrap, .groupFlight {
  margin-bottom:0px;
}
.departDate, .package4 {
  margin: 5px auto;
}
.package, .package2, .package3, .package4 {
  width: 90%;
  margin: 5px auto;
  height: 54px;
}

  .bestPlaceHead {
    width: 100%;
    margin-top: 387px;
  }
  .bannerWrap h2 {
    width: 100%;
    padding-top: 40px;
  }
  .flightGroup {
    width: 355px;
    top: 233px;
  }
  .date, .date2 {
    width: 90%;
    margin: 0 auto;
}
.date2{
  margin-top:6px;
}

.multiplePackageWrap{
  display: block;
}
.multiplePackage {
  width: 95%;
  margin: 8px auto;
}



}

@media only screen and (max-width: 400px) {
  .menu li {
    margin-right: 15px;
    margin-left: 15px;
  }
  


  .heroBoxBtn {
    padding: 11px 30px;
    font-size: 16px;
  }
  .flightGroup span {
    font-size: 12px;
  }
}
