/* hotel banner styling */
.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url("../../public/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height: 450px;
  box-sizing: border-box;
  background-position: center;
  
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 22px;
}
.heroBoxMain {
  width: 1105px;
  height: 385px;
  background: #c6e8f1 0.6;
  z-index: 9999 !important;
  margin: 0 auto;
  background-image: linear-gradient( 168deg,#19abe3, #4AB449) !important;
  border-radius: 37px;
  position: relative;
  top: 28px;
}

.package,
.package2,
.package3,
.package4 {
  width: 415px;
  height: 60px;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  background: transparent;
  color: white;
  padding: 10px;
}
.package input,
.package2 input,
.package3 input,
.package4 input,
.date input,
.date2 input {
  background: transparent;
  width: 100%;
  color: white;
}
.date {
  position: absolute;
  top: 187px;
  left: 134px;
  height: 60px;
  width: 207px;
  background: transparent;
  color: white;
  font-size: 14px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ddd;
}
.date2 {
  position: absolute;
  top: 187px;
  left: 342px;
  height: 60px;
  width: 207px;
  background: transparent;
  color: white;
  padding: 10px;
  border-top-right-radius: 5px;
  font-size: 16px;
  border-bottom-right-radius: 5px;
  border: 1px solid #fff;
}
.date2 h4 {
  font-size: 14px;
}
.package {
  top: 100px;
  left: 134px;
}

.package2 {
  right: 134px;
  top: 100px;
}

.package3 {
  top: 187px;
  left: 125px;
}
.package4 {
  top: 187px;
  right: 134px;
}
.package,
.package2 h4 {
  font-size: 14px;
}
.packageBtn {
  border-bottom: 2px solid #4ab449;
}
.packageDate {
  display: flex;
  justify-content: space-between;
}

.heroBoxBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 292px;
  background: transparent;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 8px 0px;
  border: 1px solid #fff;
  width: 210px;
  background-image: linear-gradient(90deg, #4ab449, #19ABE3);
  transition:al .5s ease-in-out;
}
.heroBoxBtn:hover {
  background-image: linear-gradient(90deg,  #19ABE3, #4ab449);
}

/* menu styling  */

.wrapMenu{
  z-index: 999 !important;
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #4AB449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  z-index: 99;
  font-size:16px;
  position:relative;
   
 }
 .menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}

 .activeMenu{
  border-right:none;
  background:#19ABE3 !important;
 }

.firstChild{
  border-top-left-radius: 17px !important;
    padding-left: 25px;
}
 .lastChild{
  border-right:1px solid #fff !important;
  border-top-right-radius: 17px !important;
 }



.menu li P {
  z-index: 999 !important;
}


.destination{
  width:1100px;
 margin-left:250px;
  overflow: hidden;
  margin-top:50px;
  margin-bottom:50px;
}
.tourTrending{
  background: #FFFFFF;
  box-shadow: #4AB449 0px 5px 10px, #19ABE3 0px 7px 7px;
  width: 260px !important;
  margin-right: 20px;
  height: 440px;
  text-align: center;
  margin-bottom: 19px;


}
.swiperImg{
  height:245px !important;
  transform:scale(1)
}
.swiperImg:hove{
height:300px !important;
transform:scale(1.5)
}

.pricePackage span{
  font-size: 14px;
  color:#4AB449;
}
.pricePackage{
  text-align: center;
  padding: 0 3px;
}
.pricePackage h6{
  
  font-size: 16px;
  margin-top: 15px;

}

.tourDay{
  background: #4AB449;
  width: 25px;
  display: block;
  font-size: 10px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  position: absolute;
  right: 37px;
  color: white;
  border-radius: 50%;
  bottom: 2px;
  color: white !important;
}
.viewDetailBtn button{
  background: #4AB449;
    place-content: center;
    place-items: center;
    margin-top: 16px;
    padding: 8px 25px;
    color: white;
    font-size: 14px;
    border-radius: 3px;

}




@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 97.9%;
  }
  .package {
    left: 85px;
  }
  .package2 {
    right: 85px;
  }
  .package4 {
    right: 85px;
  }
  .date {
    left: 85px;
  }
  .date2 {
    left: 292px;
  }
}

@media only screen and (max-width: 768px) {
  .bannerWrap h2 {
    font-size: 25px;
  }
  .wrapMenu{
    flex-wrap: wrap;
    justify-content: center;
}
  .menu {
    background: none;
    flex-wrap: wrap;
    margin-bottom: 44px;
    padding-top: 40px;
  }
  .menu li {
    height: 82%;
    width: 100%;
    border:none;
}
.lastChild {
  border-right:none !important;
}
 

  .heroBoxMain {
    width: 95%;
    height: 90%;
  }
  .package {
    top: 250px;
  }
  .heroBoxBtn {
    top: 307px;
  }
  .heroBoxMain {
    background: none;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }
}

.destination {
  margin-bottom: 94px;
  height: auto;
}
.trendingHead {
  width: 800px;
  margin: 50px auto;
}
.mySwiper {
  overflow: hidden;
}


.swiperImg {
  height: 280px !important;
  transform: scale(1);
}
.swiperImg:hove {
  height: 300px !important;
  transform: scale(1.5);
}

.trending img {
  width: 100%;
}
.trendingHead {
  text-align: center;
  margin-bottom: 20px;
}
.trendingHead h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #092e3d;
  justify-content: center;
}
.trendingHead p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #738187;
}

.bestPlaceHead {
  width: 650px;
  margin: 50px auto;
  text-align: center;
}
.bestPlaceHead h2 {
  font-size: 35px;
  font-weight: bold;
  color: #092e3d;
}
.bestPlaceHead p {
  color: #738187;
  line-height: 26px;
  font-size: 18px;
  margin-top: 15px;
}
.pricePackage {
  text-align: center;
}
.pricePackage h6 {
  font-size: 16px;
  font-size: 16px;
  height: 50px;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
}


.viewDetailBtn button {
  background: #4ab449;
  place-items: center;
  padding: 8px 0px;
  color: white;
  border-radius: 5px;
  font-size: 14px;
  width: 135px;
}

@media only screen and (max-width: 1024px) {
  .destination {
    width: 100%;
    margin-left: 37px;
  }

  .trending {
    height: 446px;
    width: 257px;
    margin-bottom: 20px;
    padding: 0px;
  }
  .trending img {
    width: 100% !important;
  }
  .trendingHead {
    margin-top: 80px;
    margin-bottom: 15px;
  }
  .bannerWrap h2 {
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .destination {
    width: 100%;
    margin-left: 58px;
  }
  .trending {
    height: 471px;
  }

  .heroBoxMain {
    height: 439px;
  }
  .package2,
  .package {
    top: 194px;
    width: 276px;
  }
  .package4 {
    width: 230px;
    top: 281px;
    right: 40px;
  }
  .date2 {
    top: 281px;
    left: 247px;
    width: 207.5px;
  }
  .date {
    left: 40px;
    top: 281px;
  }
  .date input,
  .date2 input {
    font-size: 14px;
  }
  .bannerWrap h2 {
    font-size: 25px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .heroBoxBtn {
    top: 365px;
    width: 161px;
    font-size: 16px;
    padding: 15px 5px;
  }
  .package h4,
  .package2 h4 {
    font-size: 16px;
  }
  .package input,
  .package2 input {
    font-size: 14px;
  }
  .bestPlaceHead {
    width: 100%;
    margin-top: 129px;
  }
}

@media only screen and (max-width: 500px) {

  .wrapMenu {
    justify-content: space-between !important;
    padding: 0px 30px;
}
.firstChild{
  border-top-left-radius: 0px !important;
  padding-left: 0px;

}
.lastChild{
  margin-left: 113px;
}


.menu {
  padding-top: 0px;
}




  .destination {
    width: 100%;
    margin-left: 13px;
    text-align: center;
  }
  .trendingHead {
    width: 100%;
    padding: 10px;
  }
  .bannerWrap {
    margin-bottom: 300px;
    height: 465px;
  }
  .heroBoxMain {
    height: 622px;
    border-radius: 0px;
  }
  .heroBoxBtn {
    top: 544px;
    width: 195px;
  }
  .package4 {
    top: 475px;
    right: 40px;
    width: 80%;
  }
  .package {
    top: 275px;
    width: 80%;
  }
  .package2 {
    top: 300px;
    width: 80%;
  }

  .package {
    top: 268px;
    width: 80%;
    left: 41px;
    padding-left: 5px;
  }
  .date,
  .date2 {
    top: 406px;
    width: 39.5%;
  }
  .package2 {
    top: 337px;
    width: 80%;
    left: 41px;
    padding-left: 5px;
  }
  .date input,
  .date2 input {
    width: 100%;
  }
  .date2 {
    position: absolute;
    left: 203px;
  }
  .bestPlaceHead {
    width: 100%;
    margin-top: 387px;
  }
  .bestPlaceHead h2 {
    font-size: 28px;
  }
  .tourTrending{
    width:100%;
    
    }


}

@media only screen and (max-width: 400px) {
  .wrapMenu {
    padding: 0px 6px;
}

  .date2 {
    left: 187px;
  }

  
  .package4 {
    right: 32px;
  }
  .heroBoxBtn {
    padding: 14px 15px;
  }
  .bannerWrap {
    margin-bottom: 433px;
  }
 
}
