

.hotelSearchBoxWrap{
     padding:32px;
     display:grid;
     grid-template-columns: repeat(12, minmax(0, 1fr));
}
.hotelSearchLeftSide{
     grid-column: span 9 / span 9;
}
.flightRightSide{
     grid-column: span 3 / span 3;
}
.searchDetailHead{
     display:flex;
     justify-content:space-between;
     padding: 32px 80px;
     background:#E9F6E9;
}

.flightSearch{
     width: 95%;
     height: 251px;
     margin: 15px auto;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
     transition:all .3s ease-in-out;
}
.flightSearch:hover{
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bookBtnGroup{
     justify-content:space-between;
     padding: 0px 8px;
}
.flightPrice{
     display: flex;
     justify-content: space-between;
}
.flightSearchLeftSide{
     position: relative;
     width: 389px;
     overflow: hidden;
     background: #E9F6E9;
     padding: 5px;
     height: 251px;
}
.leftArrow{
     color:black !important;
}
.deal{
     background: #26ADE2;
     font-size: 12px;
     color: #fff;
     width: 120px;
     padding: 3px;
     border-top-right-radius: 16px;
     border-bottom-right-radius: 16px;
}
.dealIcon{
     font-size:14px;
}
.flightBookBtn{
     color:white;
     background: #26ADE2;
     padding:5px 15px;
     font-size:14px;
     margin:5px 0px;
     border-radius:5px;
}
.flightDurationWrap{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:0 auto;
     flex-wrap:wrap;
}
.flightDuration{
        display: flex;
    align-items: center;
    width: 43%;
    margin-bottom: 20px;
}
.duration, .duration2 p{
     font-size:12px;
     color:black;
}






.searchLeftImg{
     width:100%;
     height:100%;
     background-repeat: no-repeat;
     object-fit: cover;
     transform:scale(1);
     transition:all .8s ease-in-out;
     background-size:cover;
    
}

.searchLeftImg:hover{
     transform:scale(1.2);
     
}
.starFrom{
     color:#4AB449;
     font-size:12px;
     
     
}
.searchBoxWrap{
     display:flex;
     justify-content: space-between;
     width:100%;
    padding:10px;
}
.priceBlock{
     text-align: right;
     margin-top: 60px;
}
.flightDesc{
     width: 200px;
     text-align: left;
     margin-top: 41px;
}
.detailBoxWrap{
     display:flex;
}
.availableHotel{
     display:flex;
     justify-content:space-between;
     padding: 0px 20px;
}
.flightButton{
     margin:20px;
     display: flex;
}
.perFlightPerson{
     width:100px;
     background:#E9F6E9;
     text-align: center;
     overflow: hidden;
     transition:all .3s ease;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; 
}
.perFlightPerson:hover{
     border: 1px solid #4AB449;
}
.perFlightPerson h2{
     font-size:14px !important;
     margin:0;
     padding:0;
}
.perFlightPerson small{
     font-size:10px;
}
.flight{
     width:33.1%;
     height:40px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     text-align:center;
     border:1px solid #ddd;
     display: flex;
     align-items: center;
     justify-content: center;
     transition:all .3s ease-out;
}
.flight:hover{
     background:#4AB449;
     color:#fff;
}
.bookDuration{
     width: 250px;
     margin: 0 auto;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}
.bookDuration p{
     font-size:12px;
     margin-bottom:3px;
}
.bookDuration button{
     background: #4AB449;
    width: 34px;
    font-size: 12px;
    border-radius: 2px;
    padding: 3px;
    margin-right: 3px;
    margin-left: 3px;
}
.bookDurationBtn{
     display: flex;
     justify-content: center;
     align-items:center;

}

.sheduleBtn{
     width: 80%;
     text-align: left;
     margin: 0 auto;
     padding: 8px 5px;
     background: #fff;
     color: black;
     border:1px solid #ddd;
     transition:all .3s ease-in-out;
     margin-bottom:5px;
}
.sheduleBtn:hover{
     border:1px solid #4AB449;
}
.sheduleBtnIcon{
  font-size:16px;
}


@media only screen and (max-width:768px){
     .hotelSearchLeftSide{
          grid-column: span 12 / span 12;
     }
     .flightRightSide{
          grid-column: span 12 / span 12;
          place-content: center;
          text-align: center;
          margin: 0 auto;
     }
     .flightSearch{
          height: 252px;
          width:100%;
      }
      .flightDesc {
          width: 522px;
          text-align: center;
      }
      .searchLeftImg{
          width: 300px;
          height: 252px !important;
      }
      .searchDetailHead{
          display: block;
          padding: 17px 30px;
     }
     .bookBtnGroup{
          padding: 0px 0px;
     }
     .flightPrice{
         display: block;
     }
     .flight{
          width: 100%;
          height: 45px;
          margin-bottom: 5px;
      }
     .flightButton {
          margin: 20px 0px !important;
          flex-wrap: wrap;
          width: 100%;
      }
      .perFlightPerson{
          width: 99px;
          background: #E9F6E9;
          text-align: center;
          overflow: hidden;
          transition: all .3s ease;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          margin: 4px 7px;
      }
      .sheduleBtn {
          width: 100%;
      }
    
     
}
@media only screen and (max-width:500px){
     .detailBoxWrap{
          display:block;
     }
     .flightSearch {
          height: 561px;
          width: 100%;
      }
      .searchLeftImg{
          width: 100%;
          height: 230px !important;
      }
      .searchBoxWrap {
          display: block;
      }
      .priceBlock {
          text-align: left;
          margin-top: 15px;
      }
      .availableHotel{
          display:block;
          padding: 0px 0px;
     }
     .flightSearchLeftSide {
          width: 100%;
          margin: 0 auto;
          text-align: center;
      }
      .deal{
          color: #fff;
          width: 120px;
          margin: 10px auto;
      }
}