/* hotel banner styling */
.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url("../../public/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height: 433px;
  box-sizing: border-box;
  background-position: center;
  /* background: linear-gradient(
          180deg,
          rgba(230, 248, 255, 0.3) 0%,
          rgba(230, 248, 255, 0.18) 0.01%,
          rgba(38, 173, 226, 0.5) 100%
        ); */
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 24px;
}
.heroBoxMain {
  width: 1105px;
  height: 381px;
  background-image: linear-gradient( 168deg,#19abe3, #4AB449) !important;
  z-index: 9999 !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  position: relative;
  top: 26px;
}
.packageWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.package,
.package2,
.package3,
.package4 {
  width: 415px;
  height: 65px;
  background: transparent;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-size: 14px;
}
.package input,
.package2 input,
.package3 input,
.package4 input {
  width: 100%;
  background: transparent;
  font-size: 12px;
}

.date {
  background: transparent;
  position: absolute;
  border: 1px solid #fff;
  padding: 10px;
  top: 187px;
  left: 134px;
  height: 65px;
  width: 207px;
  font-size: 14px;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.date2 {
  background: transparent;
  position: absolute;
  border: 1px solid #fff;
  padding: 10px;
  top: 187px;
  left: 341px;
  height: 65px;
  font-size: 14px;
  width: 207px;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.date input,
.date2 input {
  background: transparent;
  width: 100%;
  font-size: 12px;
  color: white;
}
.package {
  top: 112px;
  left: 134px;
}

.package2 {
  right: 134px;
  top: 112px;
}

.package3 {
  top: 187px;
  left: 125px;
}
.package4 {
  top: 187px;
  right: 134px;
}

.packageBtn {
  border-bottom: 2px solid #4ab449;
}
.packageDate {
  display: flex;
  justify-content: space-between;
}

.heroBoxBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 290px;
  background-image: linear-gradient(135deg, #278526, #4997b5);
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 9px 0px;
  width: 200px;
  transition: all .5s cubic-bezier(0.32, 0.25, 0.5, 0.5);
}
.heroBoxBtn:hover{
  background-image: linear-gradient(-135deg, #278526, #4997b5);

}
/* menu styling  */
.wrapMenu{
  z-index: 999 !important;
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #4AB449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  z-index: 99;
  font-size:16px;
  position:relative;
   
 }
 .menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}


 .activeMenu{
  border-right:none;
  background:#19ABE3 !important;
 }

.firstChild{
  border-top-left-radius: 17px !important;
    padding-left: 25px;
}
 .lastChild{
  border-right:1px solid #fff !important;
  border-top-right-radius: 17px !important;
 }


.menu li P {
  z-index: 999 !important;
}
.activeMenuList{
  display: flex;
  z-index: 999 IM !important;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
 }
 .menuList{
  display: flex;
  z-index: 999 IM !important;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #19ABE3;
  padding: 15px 20px;
  border-radius: 10px;
 }

@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 98%;
  }
  .package {
    left: 85px;
  }
  .package2 {
    right: 85px;
  }
  .package4 {
    right: 85px;
  }
  .date {
    left: 85px;
  }
  .date2 {
    left: 292px;
  }
}

@media only screen and (max-width: 768px) {
  .bannerWrap h2 {
    font-size: 25px;
  }
  .wrapMenu{
    flex-wrap: wrap;
    justify-content: center;
}
  .menu {
    background: none;
    flex-wrap: wrap;
    margin-bottom: 44px;
    padding-top: 8px;
  }
  .menu li {
    height: 82%;
    width: 100%;
    border:none;
}
.lastChild {
  border-right:none !important;
}
  .heroBoxMain {
    width: 95%;
    height: 90%;
  }
  .package {
    top: 250px;
  }
  .heroBoxBtn {
    top: 307px;
  }
  .heroBoxMain {
    background: none;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .destination {
    width: 100%x;
    margin-left: 0px;
  }

  .heroBoxMain {
    height: 439px;
  }
  .package2,
  .package {
    top: 194px;
    width: 276px;
  }
  .package4 {
    width: 230px;
    top: 281px;
    right: 40px;
  }
  .date2 {
    top: 281px;
    left: 247px;
    height: 65px;
    width: 207.5px;
  }
  .date {
    left: 40px;
    top: 281px;
  }
  .date input,
  .date2 input {
    font-size: 14px;
  }
  .bannerWrap h2 {
    font-size: 30px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .heroBoxBtn {
    top: 364px;
  }
  .package h4,
  .package2 h4 {
    font-size: 16px;
  }
  .package input,
  .package2 input {
    font-size: 14px;
  }
  .bestPlaceHead {
    width: 100%;
    margin-top: 129px;
  }
}

@media only screen and (max-width: 500px) {
  .bannerWrap {
    height: 723px;
  }
  .heroBoxMain {
    height: 645px;
    border-radius: 0px;
  }
  .wrapMenu {
    justify-content: space-between !important;
    padding: 0px 30px;
}
.firstChild{
  border-top-left-radius: 0px !important;
  padding-left: 0px;

}
.lastChild{
  margin-left: 113px;
}
  .heroBoxBtn {
    top: 562px;
    width: 209px;
    font-size: 14px;
    padding: 17px 0px;
  }
  .package4 {
    width: 230px;
    top: 475px;
    right: 40px;
    width: 80%;
  }
  .package {
    top: 275px;
    width: 80%;
  }
  .package2 {
    top: 300px;
    width: 80%;
  }

  .package {
    top: 266px;
    width: 80%;
    left: 41px;
    padding-left: 5px;
  }
  .date,
  .date2 {
    top: 405px;
    width: 40%;
  }
  .package2 {
    top: 335px;
    width: 80%;
    left: 41px;
    padding-left: 5px;
  }
  .date input,
  .date2 input {
    width: 100%;
  }
  .date2 {
    position: absolute;
    left: 203px;
  }
}

@media only screen and (max-width: 400px) {
  .wrapMenu {
    padding: 0px 6px;
}

  .date2 {
    left: 187px;
  }

  .date,
  .date2 {
    top: 383px;
    width: 39%;
  }
  .package4 {
    right: 32px;
  }
  .heroBoxBtn {
    padding: 14px 15px;
  }
 
}
