.flightBookDetail {
  margin-bottom: 30px !important;
}
.flightToggle {
  background: #e6f8ff !important;
  color: black !important;
  font-size:14px !important;
}
.bookingReview{
  display: flex;
  justify-content:space-between;
  margin: 20px 0px;
  padding-right:5px;
}
.flightSection{
  display: flex;
  justify-content: space-between;
}
.searchAllFlight{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.paymentMethod {
  width: 100%;
  background: #e9f6e9;
  padding: 10px;
}
.option {
  width: 100%;
  border: 1px solid #ddd;
  display: flex;
}
.option button {
  width: 33.33%;
  border: 1px solid #ddd;
  padding: 10px 3px;
  font-size: 12px;
}
.pMethod {
  width: 100px;
  height: 60px;
  border: 1px solid #e9f6e9;
  transition: all 0.5s ease-in-out;
  margin-bottom: 8px;
  margin-right: 5px;
}
.pMethod:hover {
  border: 1px solid #4ab449;
}
.pMethodImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.methodWrap {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: space-between;
  margin-top: 17px;
}
.reviewIcon {
  font-size: 14px !important;
}
.policy{
 
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

}
.flightDetail {
  display: flex;
  justify-content: space-between;
}
.flightDetail h6,
.flightDetail p {
  font-size: 13px;
  margin-bottom: 5px;
}
.dealWrap {
  width: 100%;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.hotdetailWrap {
  display: flex;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.hotDeal {
  width: 48%;
  height: 155px;
  background: #e9f6e9;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  margin-right: 10px;
}
.hotDeal strong {
  font-size: 10px;
}
.couponCodeWrap {
  width: 100%;
  margin-top: 10px;
}
.couponCode {
  display: flex;
  align-items: center;
}
.couponField {
  width: 65%;
}
.apply {
  background: #4ab449;
  color: white;
  margin-left: 13px;
  padding: 13px;
  border-radius: 5px;
  font-size: 18px;
}
.adultBtn {
  background: #e9f6e9;
  margin: 0 5px;
  font-size: 14px;
  padding: 5px;
}
.travelerSelect {
  width: 100%;
}
.titleBtnWrap {
  display: flex;
}
.titleBtnWrap button {
  margin-right: 5px;
  padding: 5px;
  width: 54px;
  height: 38px;
  background: transparent;
  border: 1px solid #ddd;
}
.personal {
  margin-top: 15px;
}
.personal span {
  font-size: 12px;
}
.inputFieldWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.titleInputField {
  width: 320px;
}
.contactDetailWrap {
  width: 100%;
  margin-top: 30px;
}
.contactDetailWrap p {
  font-size: 12px;
}
.contactDetail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.contactField {
  width: 320px;
  border: 1px solid #ddd;
  height: 35px;
}
.contactDetail label {
  font-size: 12px;
}
.checkbox {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.checkbox input[type="checkbox"] {
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  margin-right: 5px;
}

.travelInsurance {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.insurance {
  width: 100%;
  background: #e9f6e9;
  padding: 20px;

}
.icon {
  width: 30px;
  height: 30px;
  background: white;
  color: black;
  border-radius: 50%;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: 9px;
}
.insurancePackage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}
.continueBtn {
  width: 100%;
  height: 35px;
  background: #4ab449;
  color: white;
  margin-bottom: 30px;
}
.uploadWrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 21px auto;
}
.fileUploadIcon{
  color: #fff;
  background: #19ABE3;
  border-radius: 50%;
  width: 25px !important;
  height: 25px !important;
  margin-right: 5px;
  line-height: 25px;
}
.upload{
  width: 300px;
  margin-right: 19px;
  background: #E6F8FF;
  text-align: center;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}
.mandatory{
  text-align: center;
  background-color: #FFF6ED;
  width: 90%;
  margin: 0 auto;
  padding: 18px 0px;
  font-size: 20px;
}
.uploadIcon{
  font-size: 20px !important;
}
.viewbtn{
  background: #4AB449;
  color: white;
  font-size: 14px;
  width: 135px;
  margin-top: 10px;
  height: 32px;
  border-radius: 3px;
}
.expandIcon{
  color:black !important;
}
.policyWrap{
  width:100%px;
}
.upload label{
  cursor: pointer;
}
@media only screen and (max-width:1024px){
  .uploadWrap {
    display: block;
}
.upload {
  width: 100%;
}
.contactField{
  width: 260px;
  margin-right: 5px;
}


}
@media only screen and (max-width:768px){
  .passengerInfo{
    display: block;
  }
  .contactField {
    width: 267px;
    margin-right: 5px;
}
.insurancePackage {
  width: 100%;
}


}
@media only screen and (max-width:600px){
  .dealWrap {
    width: 400px;
    margin-left: -90px;
}
.travalerInfoWrap{
  margin-left: -71px !important;
}
.flightToggle{
  width: 400px;
  margin-left: -88px !important;
}
.inputFieldWrap {
  display: block;
}
.contactField {
  width: 336px;
}
.contactDetail {
 display: block;
}
.inputLabel{
  font-size:14px;
}
.hotDeal {
  width: 100%;
}
.bookingReview{
  display: block;
  margin-left: -84px;

}
.flightSection{
  display: block;
}
.searchAllFlight {
  width: 359px;
  margin-left: -80px;
  margin-top: 6px;
}
.policyWrap{
  width: 348px;
  margin-left: -80px;
}
.mandatory {
  font-size: 14px;
}
.insurance {
  width: 397px;
  margin-left: -103px;
}
.insurancePackage {
  display: block;
}
.flightBookDetail {
  width: 420px !important;
}

}

@media only screen and (max-width:400px){
  .flightToggle {
    width: 351px;
}
.searchAllFlight {
  width: 350px;
  margin-left: -102px;
}
.nonStop{
  display: flex;
  justify-content: space-between;
  width: 418px;
  margin-left: 23px;
}
.policyWrap{
  width: 315px;
}
.dealWrap {
  width: 370px;
  margin-left: -92px;
}
.viewbtn {
  font-size: 12px;
  width: 97px;
  height: 29px;
}



}