/* hotel banner styling */
.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url(/_next/static/media/banner.f7be9e77.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height: 357px;
  box-sizing: border-box;
  background-position: center;
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 22px;
}

.heroBoxMain {
  width: 1105px;
  height: 295px;
  background-image: linear-gradient( 168deg,#19abe3, #4AB449) !important;
  z-index: 9999 !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  position: relative;
  top: 26px;
}

.package2 {
  width: 408px;
  height: 48px;
  background: transparent;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  top: 119px;
  color: #fff;
  font-size: 17px;
}
.package2 span:nth-child(1) {
  border-bottom: 2px solid #fff;
  margin-bottom: 17px;
}

.heroBoxBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 208px;
  background: transparent;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 9px 0px;
  width: 209px;
}
/* menu styling  */
.wrapMenu{
  z-index: 999 !important;
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background: #4AB449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  z-index: 99;
  font-size:16px;
  position:relative;
   
 }
 .menu li{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
}

 .activeMenu{
  border-right:none;
  background:#19ABE3 !important;
 }

.firstChild{
  border-top-left-radius: 17px !important;
    padding-left: 25px;
}
 .lastChild{
  border-right:1px solid #fff !important;
  border-top-right-radius: 17px !important;
 }

.menu li P {
  z-index: 999 !important;
}

.ummraWrap {
  width: 80%;
  overflow: hidden;
  margin: 50px 0px;
  margin: 80px auto;
  padding: 0 28px;
}
.umraHead{
  width: 645px;
  margin: 0 auto;
  text-align: center;
}
.singleHajj {
  width: 310px;
  height: 606px;
  background: #ffffff;
  box-shadow: #4AB449 0px 9px 28px, #19ABE3 0px 9px 8px;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}
.hajjContentWrap{
  padding: 16px 2px;
  font-size: 14px;
}
.hajjContentWrap h3{
  font-size:18px;
  font-weight: 500;
}
.umraHead p{
  color:black !important;
}
.imgWrap {
  width: 420px;
  height: 300px;
  overflow: hidden;
}

.hajjImg {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.hajjImg:hover {
  transform: scale(1.2);
}
.singleHajjmiddl {
  width: 310px;
  height: 606px;
  background: #ffffff;
  box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background: #e6f8ff !important;
}
.singleHajjmiddl ul li {
  color: black !important;
}
.hajjBtn {
  width: 150px;
  height: 40px;
  background: #4ab449;
  border-radius: 3px;
  color: white;
  margin-left: 69px;
  margin-top: 15px;
  font-size: 14px;
}
.day {
  width: 30px;
  height: 30px;
  font-size: 12px;
  background: #19abe3;
  line-height: 30px;
  color: white;
  border-radius: 5px;
}
.clock {
  width: 350px;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #e6f8ff;
  box-shadow: 0px 4px 4px #e6f8ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #4AB449;
  color: white;
}
.clock2 {
  width: 350px;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #e6f8ff;
  box-shadow: 0px 4px 4px #e6f8ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0px 40px;
  background: #4AB449;
  color: white;
}
.rBtn {
  width: 236px;
  height: 53px;
  background: #19abe3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  display: grid;
  place-content: center;
}
.package {
  box-sizing: border-box;
  position: absolute;
  width: 376px;
  height: 50px;
  left: 535px;
  top: 215px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #4ab449;
  box-shadow: 0px 2px 4px rgba(25, 171, 227, 0.3);
  border-radius: 5px;
}
.hajjRegistraion {
  text-align: center;
  margin-top: 15px;
}
.ummrahClock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 98%;
  }
  .singleHajj {
    width: 250px;
  }
  .singleHajjmiddl {
    width: 250px;
  }
  .imgWrap {
    width: 312px;
    height: 247px;
  }
  .hajjBtn {
    margin-left: 33px;
    margin-top: 18px;
  }
  .day {
    font-size: 14px;
    width: 105px;
  }
  .bannerWrap h2 {
    font-size: 31px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .bannerWrap {
    height: 456px;
  }
  
  .package2 {
    top: 192px;
  }
  .bannerWrap h2 {
    font-size: 25px;
  }
  .wrapMenu{
    flex-wrap: wrap;
    justify-content: center;
}
  .menu {
    background: none;
    flex-wrap: wrap;
    margin-bottom: 44px;
    padding-top: 40px;
  }
  .menu li {
    height: 82%;
    width: 100%;
    border:none;
}
.lastChild {
  border-right:none !important;
}
 
  .heroBoxMain {
    
    width: 95%;
    height: 80%;
    background: none;

  }
  .package {
    top: 250px;
  }
  .heroBoxBtn {
    top: 266px;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }

  .ummraWrap {
    width: 100%;
  }
  .singleHajj {
    width: 350px;
  }
  .singleHajjmiddl {
    width: 350px;
  }
  .ummrahClock {
    display: flex;
  }
  .clock2,
  .clock {
    width: 300px;
    margin-bottom: 15px;
  }
  .imgWrap {
    width: 312px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {

  .wrapMenu {
    justify-content: space-between !important;
    padding: 0px 30px;
}
.firstChild{
  border-top-left-radius: 0px !important;
  padding-left: 0px;

}
.lastChild{
  margin-left: 113px;
}
  .heroBoxMain {
    width: 100%;
    height: 446px;
    background: none;
    border-radius: 0px;
  }
  .heroBoxBtn {
    padding: 10px 0px;
    top: 379px;
    width: 195px;
    font-size: 14px;
  }

  .bannerWrap h2 {
    margin-bottom: 10px;
    width: 94%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  .bannerWrap {
    margin-bottom: 260px;
  }
  .package2 {
    top: 312px;
    width: 83%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .wrapMenu {
    padding: 0px 6px;
}

  .date2 {
    left: 187px;
  }

  .date,
  .date2 {
    top: 383px;
    width: 39%;
  }
  .package4 {
    right: 32px;
  }
  .heroBoxBtn {
    padding: 14px 15px;
  }
  .bannerWrap {
    margin-bottom: 433px;
  }
}

@media only screen and (max-width: 400px) {
  .ummraWrap {
    margin-top: -290px;
  }
}
