/* hotel banner styling */
.banner {
  width: 100vw !important;
  box-sizing: border-box;
}
.bannerWrap {
  position: relative;
  background-image: url(/_next/static/media/banner.f7be9e77.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100vw !important;
  height: 357px;
  box-sizing: border-box;
  background-position: center;
}

.bannerWrap h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 22px;
}
.activeClass {
  background: red;
}
.heroBoxMain {
  width: 1105px;
  height: 295px;
  background: #c6e8f1 0.6;
  z-index: 9999 !important;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 37px;
  position: relative;
  top: 26px;
}

.package2 {
  width: 408px;
  height: 48px;
  background: #19abe3;
  position: absolute;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 20px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  top: 119px;
  color: #fff;
  font-size: 17px;
}
.package2 span:nth-child(1) {
  border-bottom: 2px solid #fff;
  margin-bottom: 17px;
}

.heroBoxBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 208px;
  background: #19abe3;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 9px 0px;
  width: 209px;
}
/* menu styling  */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
  font-size: 18px;
  background: #4ab449;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}
.menu li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
.menu li P {
  z-index: 999 !important;
}

.ummraWrap {
  width: 80%;
  overflow: hidden;
  margin: 50px 0px;
  margin: 80px auto;
  padding: 0 28px;
}
.singleHajj {
  width: 310px;
  height: 630px;
  background: #ffffff;
  box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
}
.umraHead p{
  color:black !important;
}
.imgWrap {
  width: 420px;
  height: 300px;
  overflow: hidden;
}

.hajjImg {
  transform: scale(1);
  transition: 0.5s ease-in-out;
}
.hajjImg:hover {
  transform: scale(1.2);
}
.singleHajjmiddl {
  width: 310px;
  height: 630px;
  background: #ffffff;
  box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background: #e6f8ff !important;
}
.singleHajjmiddl ul li {
  color: black !important;
}
.hajjBtn {
  width: 160px;
  height: 46px;
  background: #4ab449;
  border-radius: 5px;
  color: white;
  margin-left: 75px;
  margin-top: 10px;
}
.day {
  width: 100px;
  height: 40px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #092e3d;
  background: #19abe3;
  padding: 10px;
  overflow: hidden;
  color: white;
  margin-top: 20px;
}
.clock {
  box-sizing: border-box;
  width: 350px;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #e6f8ff;
  box-shadow: 0px 4px 4px #e6f8ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.clock2 {
  box-sizing: border-box;
  width: 350px;
  padding: 12px 20px;
  background: #ffffff;
  border: 1px solid #e6f8ff;
  box-shadow: 0px 4px 4px #e6f8ff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 0px 40px;
}
.rBtn {
  width: 236px;
  height: 53px;
  background: #19abe3;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
  display: grid;
  place-content: center;
}
.package {
  box-sizing: border-box;
  position: absolute;
  width: 376px;
  height: 50px;
  left: 535px;
  top: 215px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #4ab449;
  box-shadow: 0px 2px 4px rgba(25, 171, 227, 0.3);
  border-radius: 5px;
}
.hajjRegistraion {
  text-align: center;
  margin-top: 15px;
}
.ummrahClock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heroBoxBtnWrap {
  transition: all 0.3s ease-in-out;
}
.heroBoxBtnWrap:hover .heroBoxBtn {
  background: #4ab449;
  transition: all 0.3s ease-in-out;
}
.heroBoxBtn h4 {
  transform: rotateX(0deg);
  transition: all 0.5s ease-in-out;
}
.heroBoxBtnWrap:hover .heroBoxBtn h4 {
  transform: rotate(360deg);
}

.hajjBtn h4 {
  transform: rotateX(0deg);
  transition: all 0.5s ease-in-out;
}
.viewDetailBtn:hover .hajjBtn h4 {
  transform: rotate(360deg);
}
.viewDetailBtn {
  transition: all 0.3s ease-in-out;
}
.viewDetailBtn:hover .hajjBtn {
  background: #19abe3;
  transition: all 0.3s ease-in-out;
}
.registrationBtn {
  transition: all 0.3s ease-in-out;
}
.registrationBtn:hover .rBtn {
  background: #4ab449;
  transition: all 0.3s ease-in-out;
}
.rBtn h4 {
  transform: rotateX(0deg);
  transition: all 0.5s ease-in-out;
}
.registrationBtn:hover .rBtn h4 {
  transform: rotate(360deg);
}

@media only screen and (max-width: 1024px) {
  .heroBoxMain {
    width: 98%;
  }
  .singleHajj {
    width: 250px;
  }
  .singleHajjmiddl {
    width: 250px;
  }
  .imgWrap {
    width: 312px;
    height: 247px;
  }
  .hajjBtn {
    margin-left: 33px;
    margin-top: 18px;
  }
  .day {
    font-size: 14px;
    width: 105px;
  }
  .bannerWrap h2 {
    font-size: 31px;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .package2 {
    top: 153px;
  }
  .bannerWrap h2 {
    font-size: 25px;
  }
  .menu {
    background: none;
    flex-wrap: wrap;
  }
  .menu li {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
    z-index: 999 !important;
    color: black;
  }
  .menu li:nth-child(7) {
    margin-left: 120px;
  }
  .heroBoxMain {
    width: 95%;
    height: 64%;
    background: none;
  }
  .package {
    top: 250px;
  }
  .heroBoxBtn {
    top: 231px;
  }
  .bannerWrap h2 {
    margin-bottom: 10px;
  }

  .ummraWrap {
    width: 100%;
  }
  .singleHajj {
    width: 350px;
  }
  .singleHajjmiddl {
    width: 350px;
  }
  .ummrahClock {
    display: flex;
  }
  .clock2,
  .clock {
    width: 300px;
    margin-bottom: 15px;
  }
  .imgWrap {
    width: 312px;
    height: 247px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .heroBoxMain {
    width: 95%;
    height: 81%;
    background: none;
  }
  .heroBoxBtn {
    padding: 16px 0px;
    top: 327px;
    width: 194px;
    font-size: 14px;
  }

  .bannerWrap h2 {
    margin-bottom: 10px;
    width: 94%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  .bannerWrap {
    margin-bottom: 100px;
  }
  .package2 {
    top: 256px;
    width: 94%;
    font-size: 14px;
  }
}
@media only screen and (max-width: 400px) {
  .menu li {
    margin-right: 15px;
    margin-left: 15px;
  }
  .date2 {
    left: 187px;
  }

  .date,
  .date2 {
    top: 383px;
    width: 39%;
  }
  .package4 {
    right: 32px;
  }
  .heroBoxBtn {
    padding: 14px 15px;
  }
  .bannerWrap {
    margin-bottom: 433px;
  }
}

@media only screen and (max-width: 400px) {
  .ummraWrap {
    margin-top: -290px;
  }
}
