.ummraWrap{
  width:100vw;
  overflow: hidden;
  margin:50px 0px;
}
   .singleHajj{
     width: 430px;
     height: 610px;
     background: #FFFFFF;
     box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
     border-radius: 5px;
     padding:10px;
     
     }
     .imgWrap{
      width:420px;
      height:300px;
      overflow: hidden;
     }

     
     .hajjImg{
      transform:scale(1);
      transition:.5s ease-in-out
     
     }
     .hajjImg:hover{
      transform:scale(1.2)
     }
     .singleHajjmiddl{
     width: 430px;
     height: 601px;
     background: #FFFFFF;
     box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
     border-radius: 5px;
     padding:10px;
     background: #E6F8FF !important;
     }
     .singleHajjmiddl ul li{
          color:black !important;
     }
     .hajjBtn{
     width: 160px;
     height: 46px;
     background: #4AB449;
     border-radius: 5px;
     color:white;
     margin-left:75px;
     margin-top:10px;
        }
     .day{
     width: 100px;
     height: 40px;
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;
     display: flex;
     align-items: center;
     text-align: center;
     color: #092E3D;
     background: #19ABE3;
     padding:10px;
     overflow: hidden;
     color:white;
     margin-top:20px;
     
        }
     .clock{
     box-sizing: border-box;
     width: 350px;
     padding:12px 20px;
     background: #FFFFFF;
     border: 1px solid #E6F8FF;
     box-shadow: 0px 4px 4px #E6F8FF;
     border-radius: 5px;
     display:flex;
     align-items:center;
     
     }
     .clock2{
          box-sizing: border-box;
          width: 350px;
          padding:12px 20px;
          background: #FFFFFF;
          border: 1px solid #E6F8FF;
          box-shadow: 0px 4px 4px #E6F8FF;
          border-radius: 5px;
          display:flex;
          align-items:center;
          margin:0px 40px;
          
          }
     .rBtn{
     width: 236px;
     height: 53px;
     background: #19ABE3;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     color:white;
     display:grid;
     place-content: center;
     }
.package{
box-sizing: border-box;
position: absolute;
width: 376px;
height: 50px;
left: 535px;
top: 215px;
display:flex;
justify-content: space-between;
padding:10px 15px;
background: #FFFFFF;
border: 1px solid #4AB449;
box-shadow: 0px 2px 4px rgba(25, 171, 227, 0.3);
border-radius: 5px;
   }
.hajjRegistraion{
    text-align:center;
    margin-top:15px;
   }
.ummrahClock{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
   
   @media only screen and (max-width:1024px){
    .singleHajj{
      width: 330px;
      }
      .singleHajjmiddl{
      width: 330px;
   }
   .imgWrap{
    width: 312px;
    height: 247px;
   }
 

  }
   @media only screen and (max-width:768px){
    .ummraWrap{
      width:100%;
    }
    .singleHajj{
      width: 350px;
      }
      .singleHajjmiddl{
      width: 350px;
   }
   .ummrahClock{
    display:flex;
   
  }
  .clock2, .clock{
    width:300px;
    margin-bottom:15px;
    }
    .imgWrap{
      width: 312px;
      height: 247px;
      display: flex;
      align-items:center;
      justify-content: center;
     }
   
  

   }
   @media only screen and (max-width:500px){
    .banner{
      width:100%;
    }
     .inputBox {
       width: 348px;
       left: 38px;
     }
     .airPort {
       width: 370px;
       left: 29px;
   }
   .airPort2 {
     width: 370px;
     left: 29px;
   }
   .depart2 {
     left: 32px;
   
   }
   
     .menu {
         display: none;
     }
     .banner h2 {
       top: 64px;
   }
   
   }
