.bookingWrap {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  border-top: 1px solid #4ab449;
  border-bottom: 1px solid #4ab449;
  padding: 18px 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}
.bookingWrap button {
  background: transparent !important;
  color: black;
}
.bookImg {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
  text-align: center;
}
.active {
  background: red;
  color: white;
}

@media only screen and (max-width: 500px) {
  .bookingWrap {
    display: block;
    justify-content: space-around;
    width: 73%;
    padding: 14px 10px;
    flex-wrap: wrap;
    font-size: 14px;
    border-top: 0px;
    border-bottom: 0px;
    box-shadow: none;
    margin-top: -5px;
    margin-left: 29px;
  }
  .logoIcon {
    width: 22px;
    height: 22px;
    margin-top: 7px;
  }
  .bookImg {
    margin-top: -31px;
  }
}
