.changePassWrap {
  display: flex;
  justify-content: center;
}
.changePassInputWrap {
  width: 650px;
  background: #bae6f7;
  text-align: center;
  padding: 35px;
  position: relative;
}
.changePassInput {
  width: 80%;
  background: #e5f8ff;
  margin-bottom: 20px;
}
.showIcon {
  position: absolute;
  right: 108px;
  top: 49px;
  font-size: 23px;
}
.showIcon2 {
  position: absolute;
  top: 129px;
  right: 108px;
  font-size: 23px;
}
.showIcon3 {
  position: absolute;
  top: 204px;
  right: 108px;
  font-size: 23px;
}
.updatedPassword {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.updatedPassword button {
  background: #26ade2;
  color: white;
  padding: 10px 0px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  width: 200px;
}
@media only screen and (max-width: 768px) {
  .changePassInput {
    margin-bottom: 20px;
    margin-bottom: 16px !important;
  }
  .changePassWrap {
    margin-bottom: 30px;
    margin-top: 25px;
  }
  .changePassInputWrap {
    width: 100%;
  }
  .changePassInput {
    width: 100%;
  }
  .showIcon {
    right: 50px;
    top: 50px;
  }
  .showIcon2 {
    right: 50px;
  }
  .showIcon3 {
    right: 50px;
  }
}
