.changePassWrap{
     display: flex;
     justify-content: center;
}
.changePassInputWrap{
     width: 650px;
     background: #BAE6F7;
     text-align: center;
     padding: 35px;
     position:relative;
    
}
.changePassInput{
     width:80%;
     background:#E5F8FF;
     margin-bottom:20px;
}
.showIcon{
     position: absolute;
    right: 108px;
    top: 49px;
    font-size: 23px;
}
.showIcon2{
     position: absolute;
     top: 129px;
     right: 108px;
     font-size:23px;
}
.showIcon3{
     position: absolute;
     top: 204px;
     right: 108px;
     font-size:23px;
}
.updatedPassword{
     display: flex;
     justify-content: center;
     margin-top:20px;

}
.updatedPassword button{
     background: #26ADE2;
     color: white;
     padding: 15px 43px;
     border-radius: 3px;
     font-size: 23px;
     font-weight: 500;

}