.profileWrap {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.userProfileLeftSide {
  grid-column: span 3 / span 3;
}
.userProfileRightSide {
  grid-column: span 9 / span 9;
}

/* save card styling */
.saveCard {
  display: flex;
  justify-content: center;
  text-align: center;
}
/* managae accoun styling  */
.deleteBtn {
  background: #26ade2;
  color: white;
  padding: 8px 5px;
  font-size: 18px;
  margin-top: 31px;
  width: 190px;
  border-radius: 3px;
}

@media only screen and (max-width: 768px) {
  .userProfileLeftSide {
    grid-column: span 12 / span 12;
  }
  .userProfileRightSide {
    grid-column: span 12 / span 12;
  }
  .deleteBtn {
    margin-bottom: 25px;
  }
}
