.saveCardWrap {
  width: 1440px;
}
.delete {
  position: absolute;
  left: 38.06%;
  right: 18.19%;
  top: 56.46%;
  bottom: 7.03%;
}
.deleteText {
  width: 638px;
  height: 105px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-top: 30px;
  color: #092e3d;
}
.deleteBtn {
  width: 350px;
  height: 53px;
  margin-top: 30px;
  margin-left: 145px;
  background: #26ade2;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .saveCardWrap {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .saveCardWrap {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .saveCardWrap {
    width: 100%;
  }
}
