.profileWrap {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .userProfileLeftSide {
    grid-column: span 3 / span 3;
  }
  .userProfileRightSide {
    grid-column: span 9 / span 9;
  }


.userProfileLeftSide {
    background: #092e3d;
    width: 100%;
    height: 100%;
  }
  
  @media only screen and (max-width:768px){
    .profileWrap {
      display:block
    }
    .userProfileLeftSide {
      background:none;
    }
  }