
.train{
  width:100vw !important;
}

.travelFormWrap{
  display:flex;
  width:860px;
  margin:0 auto;
  margin-top:20px;
  justify-content: space-between;
}
.travelFormDouble{
  width:420px;
  height:65px;
  padding-left:5px;
  display: flex;
  justify-content: space-between;

}
.travelForm{
  background:white;
  width:420px;
  height:65px;
  border-radius:5px;
  border:1px solid #4AB449;
  padding-left:5px;

}
.singleTravel{
  width:50%;
  border:1px solid #4AB449;
  background:white;
  padding-left:5px;
}
.singleTravel input{
  width:100%;
}




@media only screen and (max-width:1024px){
     .train{
      margin-bottom:150px;
  
    }
     
}


@media only screen and (max-width:768px){
  .train{
    margin-bottom:200px;
    width:100%;

  }
  .package{
    top:250px;
    
  }
.package{
  top: 194px;
}
.travelFormWrap{
  width:650px;
}
.travelFormDouble{
  width:420px;
  justify-content: space-evenly;
}
.travelForm{
  width:240px;

}
.travelFormWrap{
  width:650px;
  justify-content: center;
}
.singleTravel{
  width:200px;
}
}
  
@media only screen and (max-width:500px){
  .trainLi{
    margin-left:140px !important;
  }
.package{
  width: 328px;
  top: 255px;
}
.travelFormWrap{
  width:400px;
  display: block;
  margin-top: -31px;
}
.travelForm{
  width: 80%;
  margin-left: 40px;
  margin-bottom:10px;
}
.travelFormDouble {
  justify-content: space-evenly;
  width: 82%;
  justify-content: center;
  display: flex;
  margin-top: 44px;
  margin-left: 35px;
  margin-bottom: 11px;

}
.train{
  margin-bottom:250px;

}

 
}

  