
.train{
  width:100vw !important;
}
.bannerWrap{

  background-image: url('../../public/banner.png');
  background-size:cover;
  background-repeat:no-repeat;
  max-width:100vw !important;
  height:400px;
  /* background: linear-gradient(
       180deg,
       rgba(230, 248, 255, 0.3) 0%,
       rgba(230, 248, 255, 0.18) 0.01%,
       rgba(38, 173, 226, 0.5) 100%
     ); */
}

.bannerWrap h2{
 display: flex;
 justify-content: center;
 font-size:35px;

}
.heroBoxMain{
  width:1105px;
  height:380px;
  background:#C6E8F1 0.6;
  z-index: 9 !important;
  margin:0 auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius:37px;
  position:relative;
  top:20px;
  opacity:0.9;
}


/* menu styling  */
.menu{
  display:flex;
  justify-content: space-between;
  padding:23px 20px;
  font-size:18px;
  background:white;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
  z-index:99;
  
}
.menu li{
  display:flex;
  z-index: 999 IM !important;
}
.menu li P{
 
  z-index: 999 !important;
}
.block{
  display: none;
}

/* travel styling  */


.travelFormWrap{
  display:flex;
  width:860px;
  margin:0 auto;
  margin-top:20px;
  justify-content: space-between;
}
.travelFormDouble{
  width:420px;
  height:65px;
  padding-left:5px;
  display: flex;
  justify-content: space-between;

}
.travelForm{
  background:white;
  width:420px;
  height:65px;
  border-radius:5px;
  border:1px solid #4AB449;
  padding-left:5px;

}
.singleTravel{
  width:50%;
  border:1px solid #4AB449;
  background:white;
  padding-left:5px;
}
.singleTravel input{
  width:100%;
}

.searchTrainBtn{
  width: 235px;
  height: 55px;
  background: #19ABE3;
  color: white;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border-radius:5px;
}


@media only screen and (max-width:1024px){
  .heroBoxMain{
       width:95%;
      
     }
     .bannerWrap h2 {
       text-align: center;
   }
   .block{
       display: block;
     }
     .train{
      margin-bottom:150px;
  
    }
     
}


@media only screen and (max-width:768px){
  .train{
    margin-bottom:200px;
    width:100%;

  }
  .bannerWrap h2{
    font-size:25px;
   }
   .menu{
    background:none;
    flex-wrap:wrap;
  }
  .menu li{
    margin-right:50px;
    margin-left:50px;
    margin-bottom:30px;
    z-index: 999 !important;
    color:black;

  }
  .heroBoxMain{
    width:95%;
    height:128%;
     background:none;
   
  }
  .package{
    top:250px;
    
  }

.bannerWrap h2 {
  margin-bottom: 10px;
}
.vissaSearchBar {
  width: 100%;
  position: absolute;
  left: 58%;
  transform: translateX(-50%);
  top: 251px;
}
.vissaSearchBar input{
  width:440px;
}
.package{
  top: 194px;
}
.vissaSearchBar button{
  width:170px;
}
.travelFormWrap{
  width:650px;
}
.travelFormDouble{
  width:420px;
  justify-content: space-evenly;
}
.travelForm{
  width:240px;

}
.travelFormWrap{
  width:650px;
  justify-content: center;
}
.singleTravel{
  width:200px;
}
}
  
@media only screen and (max-width:500px){
  .bannerWrap{
   height:500px;
  }
  .bannerWrap h2{
    text-align: center;
   }
   .menu li{
    margin-right:20px;
    margin-left:30px;
    margin-bottom:30px;
    z-index: 999 !important;
    color:black;

  }
  .trainLi{
    margin-left:140px !important;
  }
  .heroBoxBtn{
    padding:10px 28px;
    top: 326px;
}
.package{
  width: 328px;
  top: 255px;
}
.bannerWrap h2 {
  margin-bottom: 15px;
}
.vissaSearchBar input{
  width:205px
}
.vissaSearchBar button {
  width: 116px;
}
.vissaSearchBar{
  top:311px;
  left:60%;
}
.travelFormWrap{
  width:400px;
  display: block;
  margin-top: -31px;
}
.travelForm{
  width: 80%;
  margin-left: 40px;
  margin-bottom:10px;
}
.travelFormDouble {
  justify-content: space-evenly;
  width: 82%;
  justify-content: center;
  display: flex;
  margin-top: 44px;
  margin-left: 35px;
  margin-bottom: 11px;

}
.searchTrainBtn{
  bottom: 20px;
}
.train{
  margin-bottom:250px;

}

 
}

  