@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
     padding:0;
     margin:0;
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.layout{
     width:100vw;
}

.table :where(th, td) {
     padding-left: 0rem;
     padding-right: 0rem;
     padding-top: 0.75rem;
     padding-bottom: 0.75rem;
     vertical-align: middle;
     text-align: center;
     width: 71px
 }
 .table :where(th) {
     padding-left: 0rem;
     padding-right: 0rem;
     padding-top: 0.75rem;
     padding-bottom: 0.75rem;
     text-align: center;
     width: 24px;
     overflow: hidden;
     height: 112px;
     text-align: center;
     font-size: 14px;
     
 }
 .table :where(th):nth-child(9){
     width:10px !important;

 }
 .table :where(td) {
  border-right:1px solid #ddd;
     
 }
 .table :where(th) {
     border-bottom:2px solid #04A444;
        
    }