.SignupWrap{
     width:100vw;
}
.ShowIcon{
     position: absolute;
     right: 20px;
     top: 44px;
     font-size: 25px;
}
.loginInput{
     box-sizing: border-box;
     width: 472px;
     height: 66px;
     background: #E6F8FF;
     border: 1px solid rgba(25, 171, 227, 0.3);
     border-radius: 5px;
     padding-left:10px;
     }
     .loginBtn{
     width: 323px;
     height: 53px;
     background: #4AB449;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     border-radius: 5px;
     color:white;
     }
     .devided{
     width: 206px;
     height: 0px;
     border: 2px solid #B0B8BA;
     }
     .loginBtn2{
     width: 323px;
    height: 53px;
    background: #26ADE2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: white;
    margin-left: 35px;
     }
     .loginBtn3{
     position: absolute;
     margin-left: 37px;
     width: 323px;
     height: 53px;
     background: #FFFFFF;
     border: 1px solid rgba(74, 180, 73, 0.5);
     box-shadow: 0px 2px 4px rgba(25, 171, 227, 0.3);
     border-radius: 5px;
     color:#4AB449;
     }
     .loginWithProvider{
          width:100%;
          margin:0 auto;
     }
     .circle{
          width: 220px;
          margin-bottom: 17px;
          margin-right: 26px;
     }
     .providerLoginWrap{
          display: flex;
     }
     .providerLoginWrap{
          display: flex;
          margin-top: 126px;
          justify-content: center;
          width: 136px;
          align-items: center;
          margin-left: 174px;
      }
@media only screen and (max-width:1024px){
     .SignupWrap{
          width:100%;
     }
}
@media only screen and (max-width:768px){
     .SignupWrap{
          width:100%;
     }
     .loginBtn {
          margin-left: 63px;
      }
    
}
@media only screen and (max-width:500px){
     .SignupWrap{
          width:100%;
     }
     .loginInput{
          width: 90%;
          height: 60px; 
          margin-left: 25px;
      }
      .inputLabel{
          margin-left: 25px;
      }
      .devided{
          width: 154px;
          margin-left: 8px;
      }
      .loginBtn, .loginBtn2, .loginBtn3 {
          width: 317px;
          margin-left: -27px;
      }
      .loginBtn {
          margin-left: 32px;
      }


}