.hotelReview{
     width:100%;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     padding:20px;
}
.breakfast{
     background:#E9F6E9;
     padding:10px;
     width:230px;
     height:140px;

}
.breakfast p{
     font-size: 12px;
}
.stayInfo{
     display:flex;
     justify-content: space-between;
     width:100%;
     align-items: center;
}
.stayInfo strong, .stayInfo small{
     font-size: 12px;
}
.stayInfo p{
     font-size: 14px;
}
.guestInfoWrap{
     width:100%;
     border:1px solid #ddd;
     padding:10px;
}
.guestField{
     width:100%;
}
.guestField input{
    width: 45%;
    height: 30px;
    border: 1px solid #ddd;
    margin-right: 15px;
    padding-left: 5px;
    border-radius: 3px;

}
.guestInfo{
     margin:20px 0px;

}
.guestInfo label{
     font-size:13px;
}
.contactWrap{
     width:100%;
     padding:30px 10px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.contactWrap small, .contactWrap label{
     font-size:12px;
}
.primaryInfo{
     display: flex;
     justify-content: space-between;
     align-items:center;
     width:100%;
     margin-bottom:20px;
}
.primaryInfo input, .primaryInfo select{
     width: 320px;
     height: 30px;
     border: 1px solid #ddd;

}

.rewardWrap{
     width:48%;
     border:1px solid #ddd;
     padding:15px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     margin-bottom:20px;
}
.rewardInfo{
     display: flex;
     justify-content: space-between;
     flex-wrap:wrap;
}
.gpOffer span{
     font-size: 12px;
}
.gpOffer small{
     font-size: 10px;
     margin:20px 0px;
     display: block;
}
.gpVerify{
     display: flex;
     justify-content: space-between;

}
.gpVerify input{
     border:1px solid #ddd;
     padding-left:5px;
     
}
.gpVerify button{
     font-size: 14px;
     padding:5px 15px;
     border-radius:5px;
     
}




   .dealWrap {
     width: 100%;
     padding: 20px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   }
   .hotdetailWrap {
     display: flex;
     width: 100%;
     margin: 0 auto;
     flex-wrap: wrap;
   }
   .hotDeal {
     width: 48%;
     height: 155px;
     background: #e9f6e9;
     padding: 20px;
     border: 1px solid #ddd;
     margin-bottom: 10px;
     margin-right: 10px;
   }
   .hotDeal strong {
     font-size: 10px;
   }
   .couponCodeWrap {
     width: 100%;
     margin-top:10px;
   }
   .couponCode {
     display: flex;
     align-items: center;
   }
   .couponField {
     width: 65%;
   }
   .apply {
     background: #4ab449;
     color: white;
     margin-left: 13px;
     padding: 13px;
     border-radius: 5px;
     font-size: 18px;
   }
   .adultBtn{
        background: #e9f6e9;
        margin: 0 5px;
        font-size: 14px;
        padding: 5px;
   }
   .travelerSelect{
        width:100%;
   }
   .titleBtnWrap{
        display:flex;
   
   }
   .titleBtnWrap button{
        margin-right: 5px;
        padding: 5px;
        width: 54px;
        height: 38px;
        background: transparent;
        border: 1px solid #ddd
   
   }
   .personal{
        margin-top:15px;
   }
   .personal span{
        font-size:12px;
   }
   .inputFieldWrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
   }
   .titleInputField{
        width:320px
   }
   .contactDetailWrap{
        width:100%;
        margin-top:30px;
   }
   .contactDetailWrap p{
        font-size:12px;
   }
   .contactDetail{
        display:flex;
        justify-content: space-between;
        margin-top:20px;
   }
   .contactField{
        width: 320px;
        border: 1px solid #ddd;
        height: 35px;
   }
   .contactDetail label{
        font-size:12px;
        
   }
   .checkbox{
        display: flex;
       align-items: center;
       margin-top: 40px;
   }
   
   .checkbox input[type="checkbox"] {
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transform: translateY(-0.075em);
        margin-right:5px;
      }
     
   .travelInsurance{
        display:flex;
        justify-content: space-between;
        width:100%;
        align-items:center;
   
   
   }
   .insurance{
        width:100%;
        height:200px;
        background:#e9f6e9;
        padding:20px;
   }
   .icon{
        width: 30px;
        height: 30px;
        background: white;
        color: black;
        border-radius: 50%;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-right: 9px;
   }
   .insurancePackage{
        display:flex;
        align-items: center;
        justify-content: space-between;
        width:90%;
        margin-top:20px;
   }
   .continueBtn{
     width: 100%;
     height: 35px !important;
     color: white;
     margin-bottom: 30px;
     padding: 30px !important;
        background:#4AB449 !important;
        
   }