.destination{
     width:100vw;
     margin: 50px auto;
     overflow: hidden;
     z-index:-10;
 }
 .trendingHead{
     width:800px;
     margin: 0 auto;  
 }
 .trendingWrap{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin: 0 auto;
 }
 .trending{
    background: #FFFFFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
    width: 94%;
    margin: 20px auto;

 }

 .trendingImg{
    height:300px !important;
 }
 .trendingHead{
     text-align:center;
     margin-bottom:20px;
 }
 .trendingHead h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 52px;
    color: #092E3D;

 }
 .trendingHead p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #738187;
    width: 900px;
    margin: 20px auto;
 }
 .trending .city{
 height: 54px;
 background: #E5F8FF;
 border-radius: 0px 0px 5px 5px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding:0px 10px;
 font-family: 'Poppins';
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 30px;
 }
 .trending h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    margin-left: -19px;
    color: #092E3D;
 }
 .trending p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #092E3D;
    background: #E5F8FF;
    padding: 0px 5px;
    width: 61px;
    height: 36px;
    margin-top: 6px;
 }
 .trending span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    display: flex;
    color: #4AB449;
    margin-left: -17px
 }
 .trending button{
    width: 180px;
    height: 47px;
    background: #4AB449;
    border-radius: 5px;
    color: #E6F8FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-left: 90px;
    margin-top: 5px;
    margin-bottom: 22px;
 }
 
 @media only screen and (max-width:1024px){
     .destination{
         width:100%;
     }
     .trending{
        width: 89% !important;
        padding: 0px;
     }
     .trending img{
         width:100% !important;
     }
     .trendingHead{
         margin-top:30px;
         margin-bottom:15px;
        
     }
     .trendingWrap{
        width: 80%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
     }
     
 }
 
 @media only screen and (max-width:768px){
    .destination{
        width:100%;
        margin-top:100px;
    }
    .trendingWrap{
        width: 80%;
        grid-template-columns: repeat(2, minmax(0, 1fr));
     }
     .trending button {
        width: 171px;
        height: 45px;
        border-radius: 2px;
        font-size: 16px;
        margin-left: 49px;
        margin-top: 13px;
        margin-bottom: 22px;
    }
    .destination {
      width: 100%;
      margin-top: -3px;
  }
  .trendingHead p {
   width: 91%;
   margin: 20px auto;
}
 
 }
 @media only screen and (max-width:500px){
    .destination{
        width:100%;
    }
    .trendingWrap{
        width: 80%;
        grid-template-columns: repeat(1, minmax(0, 1fr));
     }
     .trendingHead {
      width: 100%;
  }
 }
 
