.topBar{ 
     width: 100vw; 
     height: 66px; 
     left: 0px; 
     top: 0px; 
     background: #E9F6E9; 
     margin:0 auto;
 }
.topbarWrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topBarLeft{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.topBarLeft span, .contact{
    font-size:20px;
    font-weight: 500;

}


@media only screen and (max-width:768px){
    .topBar{ 
        width: 100%; 
        
    }
}