.userProfileLeftSide {
  background: #092e3d;
  width: 100%;
  height: 100%;
}
.userImg {
  display: flex;
  justify-content: center;
  padding-top: 41px;
}
.userInfo {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.userInfo p {
  color: white;
  background: #19abe3;
  margin-bottom: 12px;
  text-align: center;
  padding: 8px 1px;
  font-size: 18px;
  width: 200px;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}
.userInfo p:hover {
  background:#4ab449
}
.userLogoutBtn {
  background: #4ab449;
  color: white;
  margin-bottom: 12px;
  text-align: center;
  padding: 8px 1px;
  font-size: 18px;
  width: 200px;
  transition:all .3s ease-in-out;
}
.userLogoutBtn:hover {
  background: #19abe3;
}
.logOutBtn {
  display: flex;
  padding-top: 200px;
  justify-content: center;
  padding-bottom: 50px;
}
.bookingMenu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .userImg {
    display: none;
  }
  .userInfoList {
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    display: flex;
  }
  .userInfoList a {
    margin-right: 7px;
  }
  .userInfo {
    margin-top: 0px;
  }
  .logOutBtn {
    padding-top: 0px;
  }
  .userInfo p {
    text-align: center;
    border-radius: 4px;
    padding: 4px 0px;
    font-size: 14px;
    background: none;
    color: black;
    margin-bottom: 0px;
    cursor: pointer;
    width: 155px;
  }

  .logOutBtn {
    display: none;
  }
  .userProfileLeftSide {
    background: none;
  }
}
