.userProfileLeftSide{
     background: #092E3D;
     width:100%;
     height:100%;
}
.userImg{
     display: flex;
     justify-content: center;
     padding-top: 41px;
}
.userInfo{
     display:flex;
     justify-content: center;
     margin-top:50px;
}
.userInfo p{
     color: white;
     background: #19ABE3;
     margin-bottom: 12px;
     text-align: center;
     border-radius: 4px;
     padding: 10px 10px;
     font-size: 20px;
}
.userLogoutBtn{
     background: #4AB449;
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 200px;
     font-size: 20px;
     padding: 10px;
     border-radius: 4px;

}
.logOutBtn{
     display: flex;
     padding-top: 200px;
     justify-content: center;
     padding-bottom: 50px;
}