.passionWrap{
     width:100vw;
     overflow: hidden;
     margin:50px 0px;
}
.singlePassion{
     display:flex;
     align-items: center;
     margin-bottom:10px;
     flex-wrap:wrap;
     justify-content: center;
     margin-bottom:10px;
    
}
.singlePassion ul{
     width:400px;
}
.singlePassion ul li{
    margin-bottom:15px;
}
.passionImgWrap{
     width:500px;
     height:300px;
     overflow: hidden;
     
}
.tourImg{
     height:500px !important;
     transform:scale(1);
     transition:.5s ease-in-out;
     object-fit: cover;
}
.tourImg:hover{
     transform:scale(1.5)
}


@media only screen and (max-width:1024px){
     .passionWrap{
          width:100%;
     }
   
   }
   @media only screen and (max-width:768px){
     .passionWrap{
          width:100%;
     }
     .singlePassion ul, .singlePassion h4{
         margin-left:-110px;
     }
     .passionImgWrap{
          width:350px;
          height:250px;

     }
     .singlePassion ul, .singlePassion h4 {
          margin-left: 0px;
      }
     
   
   }
   @media only screen and (max-width:768px){
     .singlePassion{
          display:flex;
          align-items: center;
          justify-content: center;
     }
   }
    
    @media only screen and (max-width:500px){
    
     .passionWrap{
          width:100%;
     }
    
    }