.footer {
     width:1440px;
     height: auto;
     background: #26ade2;
     margin: 0 auto;
     padding:30px;
   }
   .footer h4 {
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 30px;
     line-height: 33px;
     display: flex;
     align-items: center;
   
     color: #ffffff;
   }
   .footer span {
     font-family: "Poppins";
     font-style: normal;
     font-weight: 500;
     font-size: 25px;
     line-height: 32px;
     display: flex;
     align-items: center;
   
     color: #ffffff;
   }
   .number {
       padding-bottom:7px;
   }
   .socialIcon{
   font-size:30px;
   margin-right:5px;
   }
   
   @media only screen and (max-width:1024px){
     .footer {
       width:100%;
     }
   }