.countryWrap {
  width: 100vw;
  overflow: hidden;
}
.countryBtn{
  background: #4AB449;
  color: white;
  width: 195px;
  height: 47px;
  border-radius: 3px;
}

@media only screen and (max-width: 1024px) {
  .countryWrap {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .countryWrap {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .countryWrap {
    width: 100%;
  }
}
