

.tourHeroBox, .visaHeroBox{
     background-image: linear-gradient( 168deg,#19abe3, #4AB449) !important;
    position: relative;
    z-index: 0 !important;
}
.tourBtn button{
     border: 1px solid #fff !important;
     font-size: 16px;
     width: 200px;
     padding: 7px 0px;
     top: -7px;
     position: absolute;
     background:transparent;
}

