.rightSideWrap {
  width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  margin-left: 20px;
}
.priceSummery div,
.priceSummery strong {
  font-size: 12px;
  margin-bottom: 7px;
}
.priceSummery strong {
  display: block;
}
.checkbox {
  width: 30px;
  height: 20px;
  margin-right: 10px;
}
.payment {
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymentBtn {
  background: #5784d7;
  width: 100%;
  padding: 6px 0px;
  margin: 15px 0px;
  color: white;
  font-weight: 700;
  border-radius: 15px;
  font-style: italic;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .rightSideWrap {
    width: 100%;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 50px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 500px) {
  .rightSideWrap {
    width: 368px;
  }
}

@media only screen and (max-width: 400px) {
  .rightSideWrap {
    width: 100%;
  }

  .rightSideWrap {
    width: 100%;
  }
}
