.hajjActive{
    background: #E6F8FF !important;
    width: 200px !important;
    z-index: 99999999 !important;
    position: relative !important;
    color: black !important;
    display: block;
    padding-top: 4px !important;
    padding-left: 4px !important;
    padding-bottom: 1px;
}
.noActive{
}